body {
    margin: 0px;
}
.nav-bar {
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-bar img {
    height: 100px;
}
.center-pic {
    height: 500px;
    background-image: url(./imgs/Kratom-leaf-with-powder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.middle-section {
    height: 300px;
    background-color: #2d2e46;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.paralax {
    height: 30px;
    background-image: url(./imgs/Kratom-leaf-with-powder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about-kratom {
    height: 391px;
    width: 100%;
    background-image: url(./imgs/What-Is-Kratom.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #c53b5a;
}
.footer {
    height: 500px;
}
