body {
    margin: 0px;
}
.nav-bar {
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-bar img {
    height: 100px;
}
.center-pic {
    height: 500px;
    background-image: url(./imgs/Kratom-leaf-with-powder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.middle-section {
    height: 300px;
    background-color: #2d2e46;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.paralax {
    height: 30px;
    background-image: url(./imgs/Kratom-leaf-with-powder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about-kratom {
    height: 391px;
    width: 100%;
    background-image: url(./imgs/What-Is-Kratom.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #c53b5a;
}
.footer {
    height: 500px;
}
.nav-bar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;

}
.nav-bar a:hover {
    color: #f79421;
    text-decoration: underline;
    
}
.nav-bar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #f79421;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-bar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .footer {
    height: 500px;
    background: #f9f9f9;
    background-color: #f0f0f0;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;

  }
  .footer img {
      height: 50px;
  }
  .footer > .stamp {
      color: #808080;
      padding: 40px 60px;
  }
  .newsletter-text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #808080;
  }
  .newsletter input {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    width: 600px;
    padding: 20px;
    border-width: 2px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 50px;
  }
  .newsletter input:focus {
      border-radius: 0px;
      border-width: 0px;
      
  }